<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10">
    <title>Attendance List</title>

    <style>
        body {background:#f2f2f2;}
        .row {background:#5bc0de; color:#fff;}
        th {padding:10px 20px 10px; text-align:left;}
        #first{width:200px;}
        #bottom-footer {position fixed; bottom:0; top:0;}
    </style>
</head>
<body>
<h1>Facial Recognition Attendance </h1>
<h3> Attendance List: {{date}}</h3>

<table border="1">
    <thead class="row">
    <tr>
        <th id="first">Full Name</th>
        <th>Arrival Time</th>
        <th>Marked Present</th>
    </tr>
    </thead>

    <tfoot>

        {% for student in students %}
    <tr>
            <th>{{student[0]}}</th>
            <th>{{student[1]}}</th>
            <th>True</th>
    </tr>

        {% endfor %}
    </tfoot>
</table>

<div id="bottom-footer">
<p>App by Glen Chiridza &copy; 2021</p>
</div>
</body>

</html>